<div class="container col-6" style="margin-top: 10%; padding: 2%;">
    <form class="row align-items-center" 
    [formGroup]="checkoutForm" 
    (ngSubmit)="onSubmit(checkoutForm.value)">
        <fieldset class="field_set">
            <legend>Editar Reserva</legend>
            <div class="col-auto">
                <div class="mb-3">
                    <label for="cliente" class="form-label">Cliente</label>
                    <input type="text" class="form-control" id="cliente" formControlName="cliente" placeholder="nombre cliente" 
                    [(ngModel)]="reserva.cliente"> 
                </div>
            </div>
            
            <div class="col-auto">
                <div class="mb-3">
                <label for="telefono" class="form-label">Telefono cliente</label>
                <input type="number" class="form-control" id="telefono" formControlName="telefono" placeholder="telefono cliente" 
                [(ngModel)] = "reserva.telefono"> 
            </div>
            </div>
            <div class="col-auto">
                <div class="mb-3">
                <label for="mesa" class="form-label">Mesa</label>
                <input type="number" class="form-control" id="mesa" formControlName="mesa" placeholder="mesa"
                [(ngModel)]="reserva.mesa" > 
            </div>
            </div>

            <div class="col-auto">
                <div class="mb-3">
                    <label class="form-label">Fecha</label>
                    <input  class="form-select" type="date" name="dia" formControlName="dia"
                    [(ngModel)]="reserva.dia"/>
            </div>
            </div>

            <div class="col-auto">
                <div class="mb-3">
            <label class="form-label">Hora</label>
                <select  class="form-select" name="hora"
                 formControlName="hora"
                 [(ngModel)]="reserva.hora">
                    <option value="13:00">13:00 h.</option>
                    <option value="13:30">13:30 h.</option>
                    <option value="13:45">13:45 h.</option>
                    <option value="14:00">14:00 h.</option>
                    <option value="14:30">14:30 h.</option>
                    <option value="14:45">14:45 h.</option>
                    <option value="15:00">15:00 h.</option>
                    <option value="15:30">15:30 h.</option>
                    <option value="15:45">15:45 h.</option>
                    <option value="16:00">16:00 h.</option>
                    <option value="20:00">20:00 h.</option>
                    <option value="20:30">20:30 h.</option>
                    <option value="20:45">20:45 h.</option>
                    <option value="21:00">21:00 h.</option>
                    <option value="21:30">21:30 h.</option>
                    <option value="21:45">21:45 h.</option>
                    <option value="22:00">22:00 h.</option>
                    <option value="22:30">22:30 h.</option>
                    <option value="22:45">22:45 h.</option>
                    <option value="23:00">23:00 h.</option>
                    <option value="23:30">23:30 h.</option>
                </select>
            </div>
        </div> 
        </fieldset>
    </form>
</div>
