<div id="principal" mat-card-content> 
    <div >
        <div >
            <div >
                <h2 >
                    Agregar Nuevo Producto
                </h2>
                <form>
                    <div>
                        <label>Nombre Producto</label>
                        <input
                            type="text"
                            placeholder="Nombre Producto"
                            name="nombre">
                         
                    </div>

                    <div>
                        <label>Precio</label>
                        <input
                            type="number"
                            placeholder="Precio"
                            name="precio"
                        />
                    </div>

                    <button mat-raised-button color="complementary"
                        type="submit">
                        Agregar</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
