button{
    background-color: teal;

}
#principal{
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px gray solid;
    width: 400px;
    height: 300px;
    text-align: center;
    margin: -25px 0 0 -25px; 
}