<button type="button" (click)="createProduct()" class="btn btn-primary btn-sm m-2">Nuevo Producto</button>

<table class="table table-striped ms-2">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productos;">
            <td>
                {{ producto.id | number}}
            </td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>
                <button type="button" (click)="deleteProduct(producto)" class="btn btn-outline-danger btn-sm m-1">Borrar</button>
                <button type="button" [routerLink] ="['/nuevoproducto/', producto.id]" class="btn btn-outline-info btn-sm">Editar</button>
            </td>
        </tr>
    </tbody>
</table>