<div class="contianer m-2">
    <div class="float-middle">
        <form >
            <label for="dia" class="form-label">Día</label>
            <input (change)="recargaTabla($event)"  id="dia" class="form-control-sm" type="date">
           
        </form>
    </div>
    <div *ngFor="let reserva of reservas;" class="container col-6 border border-info p-3 mb-2" id="lista">
        <div class="row align-items-center">
        <p  class="font-weight-bold h5"><strong>Cliente: </strong>
            <span class="h6">{{reserva.cliente}}</span>
        </p>
        <p  class="font-weight-bold h5" ><strong>Mesa: </strong>
            <span class="h6">{{reserva.mesa}}</span>
        </p>
        <p  class="font-weight-bold h5"><strong>Fecha: </strong>
            <span class="h6">{{reserva.dia | date: 'dd/MM/yyyy'}} - {{reserva.hora}}</span>
        </p>
        <p  class="font-weight-bold h5"><strong>Telefono: </strong>
            <span class="h6">{{reserva.telefono}}</span>
        </p>
    </div>
            <button id="editar" [routerLink]="['/editarreserva/', reserva.numeroReserva]" class="btn btn-info" name="editar">Editar</button>
            <button id="eliminar" class="float-end btn btn-danger" (click)="eliminarReserva(reserva)" name="eliminar">Eliminar</button>
      </div>
</div>