<form>
<h1 class="text-gradient">Bienvenido a Rest-app</h1>

    <div id="login">
        <h2>Inicie Sesión</h2>
        <div id="user">
            <label>Usuario</label>
            <input type="text" name="user" placeholder="Escriba su usuario"/>
        </div>
        <div id="pass">
            <label>Contraseña</label>
            <input type="password" name="pass" placeholder="Escriba su Contraseña"/>
        </div>
        <div id="boton">
            <button type="submit">Entrar</button> 
        </div>
    </div>
</form>
